<section class="parallax">
    <img src="/assets/images/burger-icon.png">
</section>


<main>
  <div class="jumbotron"> 
    <section class="">
        
    </section>
    <section>
      <div class="burger-ops row">
        <div class="options" id="a">
          <div class="col-12 form-group s12">
        <h2 id="thread">Add a Burger</h2>
        <form class="create-update-form" action="/" method="POST" name="form" class="form">
                <label>Burgers Name</label>
                <input type="text" name="name" class="drawn-border" id="formVal">
                <button id="grid-add" class="btn-img btn-tap" type="submit">{{!-- <label></label> --}}
                  <img src="/assets/images/burger-btn.png" alt="Add Burger" /></button>
        </form>
        </div>
        <br>
      </div>
        <div class="col-9">
        <div alignt="center" class="options devoured row form-control col-9 col s12 m4 l3 " id="c">
          <div alignt="center" class="">
            <h1 class="status" alignt="center" id="that">Devoured</h1>
            
            <table alignt="center" class="burger-status li">
              {{#each burgers}}
                {{#if this.devoured}}
                  <table class="responsive-table" class="li">
                  <tr align="center" >
                    <th align="center" >{{this.burger_name}}</th>
                  </tr>
                  </table>
                {{/if}}
              {{/each}}
            </table>
        </div>
        <br>
      </div>
      <br>
  </div>
      <div class="options available row " >
        <br>
        <br>
        <div alignt="center" class="col s12 m8 l9" id="b">
                <h1 class="status" alignt="center" id="avail">Available Burgers</h1>
                <ul class="burger-status" >
                  {{#each burgers}}
                   {{#unless this.devoured}}
                      <li class="burger-status" id="this">
                        {{this.burger_name}} 
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                          <input type="hidden" name="id" value="{{this.id}}" class="drawn-border" id="formVal">
                          <div><button id="grid-snap" type="submit" class="btn-img btn-tap"><img src="/assets/images/burger-btn.png" alt="Devour!" /></button></div>
                        </form>
                      </li>
                    {{/unless}}
                  {{/each}}
                </ul>
            <br>
        </div>
      </div>
</div>
</section>
</div>{{#each burgers}}
<footer align="center">
</footer>{{/each}}
</main>       